.myTable{
	height:auto;
	font-size:12px;
	margin:0 auto;
}
.myTable tr td:nth-child(odd){
	text-align:right;
	padding:10px 10px;
}



.subTitle{
	margin-top:10px;
	font-size:14px;
	padding-left:20px;
	font-weight:bold;
	color:#0081C2;
}
hr{
	margin:10px;
}

.myBtn{
	background-color:#0081C2;
	color:white;
}